<%- include('../partials/header') %>
<form action="/flights/<%= flight._id %>/tickets" method="POST">
    <label for="seat">Seat:</label>
    <input name="seat" pattern="[A-F][1-9]\d?" placeholder="A1-F99">
    <label for="price">Price:</label>
    <input type="number" name="price">
    <input type="submit" value="Add Ticket">
</form>
<%- include('../partials/footer')%>
